<h5>Entrez le nombre de repas que vous prévoyez</h5>
<input type="number" [(ngModel)]="nb">

<ng-container *ngIf="nb>0">
    <br><br>
    <h5>Quel menu? </h5>
</ng-container>

<ng-container *ngFor="let i of arrayOne(nb)">
    <select name="recette" [(ngModel)]="selected[i]">
        <option *ngFor="let r of recettes" [ngValue]="r">{{r.nom}}</option>
    </select>
    <br><br>
</ng-container>

<br><br>
<button class="btn btn-info" (click)="genererListe()">Générer la liste</button>
<br>
<br>
<br>
<table class="table table-bordered">
    <tr>
        <th style="text-align: center;">Nom</th>
        <th style="text-align: center;">Quantité</th>

    </tr>
    <tr *ngFor="let q of quantites" class="table table-bordered">
        <td>{{q.no_ingredient}}</td>
        <td>{{q.dose}} - {{q.unite}}</td>
    </tr>
</table>