<h1>Entrez le nombre de repas que vous prévoyez</h1>
<input type="number" [(ngModel)]="nb">

<ng-container *ngIf="nb>0">
    <br><br>
    <h5>Quel menu? </h5>
</ng-container>

<ng-container *ngFor="let i of arrayOne(nb)">
    <select name="recette" [(ngModel)]="selected[i]">
        <option *ngFor="let r of recettes" [ngValue]="r">{{r.nom}}</option>
    </select>&nbsp;
    pour
    <input type="number" [(ngModel)]="personnes[i]">&nbsp;
    personnes
    <br><br>
</ng-container>

<br><br>
<div *ngIf="generable">
    <button class="btn btn-info" (click)="genererListe()">Générer la liste</button>
</div>
<div *ngIf="!generable">
    <button class="btn btn-info" (click)="reset()">Nouvelle liste</button>
</div>
<br>
<br>
<br>
<div *ngIf="!generable">
    <table class="table table-bordered">
        <tr>
            <th style="text-align: center;">Nom</th>
            <th style="text-align: center;">Quantité</th>

        </tr>
        <tr *ngFor="let q of result" class="table table-bordered">
            <td>{{q.no_ingredient}}</td>
            <td>{{q.dose}} {{q.unite}}</td>
        </tr>
    </table>
</div>