<br>
<h1><strong>Liste des Ingrédients</strong>
</h1>
<a class="btn btn-success btn-lg" [routerLink]="['/ajoutIngredient']" routerLinkActive="router-link-active"
    id="grosbtn">
    <i class="glyphicon glyphicon-plus"></i> Ajouter un ingrédient</a>
<br>
<br>
<!--Partie recherche-->
<h4>Rechercher par mot-clé</h4>

<form class="form-horizontal">
    <br>
    <div class="form-group">
        <label for="idNom" class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="idNom" placeholder="Nom" name="pNom"
                [(ngModel)]="cle">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-success" style="margin-left: 80%;" (click)="rechCle()">
                Rechercher</button>
        </div>
    </div>
</form>

<div *ngIf="affiche">
    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <th>Nom</th>
            <th>Type d'ingrédient</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        <tr *ngFor="let i of rechIngredient">
            <td>{{i.nom}}</td>
            <td>{{i.typeIngr}}</td>
            <td><a class="btn btn-warning" [routerLink]="['/modifIngredient',{pId:i.id}]">Modifier</a></td>
            <td><a class="btn btn-danger" (click)="supprimer(i.id)">Supprimer</a></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-info" style="margin-left:80%;" (click)="reset()"> Reset</button>
</div>

<h4>Rechercher par id</h4>

<form class="form-horizontal">
    <br>
    <div class="form-group">
        <label for="idNom" class="col-sm-2 control-label">ID</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" id="id" placeholder="ID" name="pId" [(ngModel)]="ingredient.id">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-success" style="margin-left: 80%;" (click)="rechId()">
                Rechercher</button>
        </div>
    </div>
</form>

<div *ngIf="ingredient.nom != undefined">
    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <th>Nom</th>
            <th>Type d'ingrédient</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        <tr>
            <td>{{ingredient.nom}}</td>
            <td>{{ingredient.typeIngr}}</td>
            <td><a class="btn btn-warning" [routerLink]="['/modifIngredient',{pId:ingredient.id}]">Modifier</a></td>
            <td><button class="btn btn-danger" (click)="supprimer(ingredient.id)" >Supprimer</button></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-info" style="margin-left:80%;" (click)="reset2()"> Reset</button>

</div>
<br>
<br>
<br>
<!--Partie affichage-->

<h2>Tous les ingrédients : </h2>

<table class="table table-bordered" style="text-align: center;">
    <tr>
        <th>Nom</th>
        <th>Type d'ingrédient</th>
        <th>Opérations</th>
    </tr>
    <tr *ngFor="let i of ingredients">
        <td>{{i.nom}}</td>
        <td>{{i.typeIngr}}</td>
        <td><a class="btn btn-warning" [routerLink]="['/modifIngredient',{pId:i.id}]">Modifier</a> &nbsp;
            <a class="btn btn-danger" (click)="supprimer(i.id)">Supprimer</a></td>
    </tr>
</table>