<br>
<h1 style="color: #4d88ff; text-align: center;"><strong>Modifier les dosages</strong>
</h1>

<h2 style="color: #4d88ff; text-align: center;">Vous modifiez la recette : {{recette.nom}}</h2>
<br>

<div>
    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <th>Nom</th>
            <th>Type d'ingrédient</th>
            <th>Dose</th>
            <th>Opérations</th>
        </tr>
        <tr *ngFor="let q of selected">
            <td>{{q.ingredient.nom}}</td>
            <td>{{q.ingredient.typeIngr}}</td>
            <td>{{q.dose}} {{q.unite}}</td>
            <td><a class="btn btn-warning" [routerLink]="['/modif-quantite',{pId:q.id}]">Modifier</a> &nbsp;
                <a class="btn btn-danger" (click)="retirer(q.id)">Retirer</a></td>
        </tr>
    </table>
</div>
<br>
<br>
<br>
<div style="margin-left: 7%;">
    <h3>Veuillez saisir les quantités pour {{recette.nbPersonnes}} personne(s)</h3>
    <br>
    Ingrédient : 
    <select [(ngModel)]="ingredient" name="ingredient">
        <option *ngFor="let i of ingredients" [ngValue]="i">{{i.nom}}</option>
    </select>
    <br>
    <br>
    Dose : 
    <input type="number" [(ngModel)]="quantite.dose">
    <br>
    <br>
    Unité : 
    <select [(ngModel)]="quantite.unite" name="unite">
        <option value="g">g</option>
        <option value="mL">mL</option>
        <option value="unit.">unit.</option>
        <option value="c. à café">cuillère à café</option>
        <option value="c. à soupe">cuillère à soupe</option>
        <option value="tranche(s)">tranche(s)</option>
        <option value="pincée(s)">pincée(s)</option>
        <option value="poignée(s)">poignée(s)</option>
    </select>
    <br>
    <br>
    <button class="btn btn-primary" (click)="ajoutSimple()">Ajouter</button>
</div>
<br>
<br>
<br>
